<div class="page-container p-0">
  <div class="rounded bg-primary-foreground">
    <p-toolbar styleClass="border-0">
      <ng-template #start>
        <div class="flex gap-4 items-center">
          <div
            class="flex items-center justify-center rounded bg-primary/50 p-2"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </div>

          <div class="grid grid-cols-1">
            <div class="text-md font-bold uppercase text-foreground">
              Statement of Account
            </div>
            <span class="text-muted-foreground text-xs"
              >Account ledger statement with data range</span
            >
          </div>
        </div>
      </ng-template>
      <ng-template #center> </ng-template>

      <ng-template #end>
        <p-iconfield styleClass="mr-2">
          <input type="text" pInputText placeholder="Search" id="searchStr" />
          <p-inputicon styleClass="pi pi-search" />
        </p-iconfield>

        <a routerLink="/accounts" class="no-underline">
          <p-button
            icon="pi pi-plus"
            styleClass="mr-2 text-xs font-semibold text-primary-foreground bg-primary"
            text
            label="Dashboard"
            severity="secondary"
            (click)="$event.preventDefault()"
          />
        </a>
        <a routerLink="/accounts/general-ledgers" class="no-underline">
          <p-button
            icon="pi pi-print"
            styleClass="mr-2 text-xs font-semibold text-primary-foreground bg-primary"
            text
            label="Ledger"
            severity="secondary"
            (click)="$event.preventDefault()"
          />
        </a>

        <!-- <p-button
          icon="pi pi-plus"
          styleClass="mr-2 text-xs font-semibold text-primary-foreground bg-primary"
          text
          label="Create Role"
          severity="secondary"
          (click)="showModal = true"
        /> -->
      </ng-template>
    </p-toolbar>

    <!-- Page content -->
    <ng-container>
      <form [formGroup]="form">
        <div class="bg-background p-4">
          <p-fieldset legend="Filter">
            <div class="grid grid-cols-24 gap-4">
              <div class="col-span-5">
                <div class="flex flex-col gap-1">
                  <label for="name">Subsystem</label>
                  <p-select
                    [options]="ledgers"
                    formControlName="subsystem"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    placeholder="Select"
                    class="input"
                    (onChange)="onChange_Subsytem()"
                  >
                    <ng-template #selectedItem let-ledger>
                      <div class="flex items-center gap-2">
                        <div>{{ ledger.name }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-ledger #item>
                      <div class="flex items-center gap-2">
                        <div>{{ ledger.name }}</div>
                      </div>
                    </ng-template>
                  </p-select>
                </div>
              </div>
              <div class="col-span-5">
                <div class="flex flex-col gap-1">
                  <label for="name">Account</label>
                  <p-select
                    [options]="accounts"
                    formControlName="account"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    (onChange)="onChange_Account()"
                    placeholder="Select"
                    class="input"
                  >
                    <ng-template #selectedItem let-account>
                      <div class="flex items-center gap-2">
                        <div>{{ account.name }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-account #item>
                      <div class="flex items-center gap-2">
                        <div>{{ account.name }}</div>
                      </div>
                    </ng-template>
                  </p-select>
                </div>
              </div>

              <div class="col-span-3">
                <div class="flex flex-col gap-1">
                  <label for="name">From Date</label>
                  <p-datepicker
                    id="from_date"
                    formControlName="from_date"
                    dateFormat="dd-mm-yy"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="fromDate"
                    styleClass="w-full input"
                   
                  />
                </div>
              </div>

              <div class="col-span-3">
                <div class="flex flex-col gap-1">
                  <label for="name">To Date</label>
                  <p-datepicker
                    id="to_date"
                    formControlName="to_date"
                    dateFormat="dd-mm-yy"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="toDate"
                    styleClass="w-full input"
                  />
                </div>
              </div>
              <div class="col-span-3">
                <div class="flex flex-col gap-1 w-full">
                  <label for="opening_balance">Opening Balance</label>
                  <input
                    id="opening_balance"
                    type="text"
                    pInputText
                    class="input"
                    formControlName="opening_balance"
                    
                  />
                </div>
              </div>
              <div class="col-span-3">
                <div class="flex flex-col gap-1 w-full">
                  <label for="clear_balance">Clear Balance</label>
                  <input
                    id="clear_balance"
                    type="text"
                    pInputText
                    class="input"
                    formControlName="clear_balance"
                  />
                </div>
              </div>
              <div class="col-span-2">
                <div class="flex flex-col gap-1 items-end justify-end h-full">
                  <p-button
                    label="Submit"
                    styleClass="btn-secondary"
                    (onClick)="onClick_Submit()"
                  />
                </div>
              </div>
            </div>
          </p-fieldset>
        </div>
      </form>
    </ng-container>

    <ng-container>
      <div class="bg-background px-4">
        <p-table
          [value]="transactions"
          [tableStyle]="{ 'min-width': '50rem' }"
          [paginator]="true"
          [lazy]="true"
          [rows]="25"
          [rowsPerPageOptions]="[25, 50, 100]"
          (onPage)="onPageChange($event)"
          [totalRecords]="totalRecords"
        >
          <!-- <ng-template #caption styleClass="">
          <div class="flex items-center justify-between">
            <span class="text-md text-foreground font-bold"
              >List of Roles</span
            >
          </div>
        </ng-template> -->
          <ng-template #header>
            <tr>
              <th class="font-semibold w-2/24" pSortableColumn="id">
                Date <p-sortIcon field="id" />
              </th>
              <th class="font-semibold w-2/24" pSortableColumn="name">
                Scroll No <p-sortIcon field="name" />
              </th>
              <th class="font-semibold w-4/24" pSortableColumn="name">
                Account <p-sortIcon field="name" />
              </th>
              <th class="font-semibold w-2/24" pSortableColumn="id">
                Mode <p-sortIcon field="id" />
              </th>
              <th class="font-semibold w-4/24" pSortableColumn="name">
                Description <p-sortIcon field="name" />
              </th>
              
              
              <th class="font-semibold w-2/24 text-right">Debit</th>
              <th class="font-semibold w-2/24 text-right">Credit</th>
              <th class="font-semibold w-2/24 text-right">Balance</th>
              <th class="font-semibold w-1/24 text-right">#</th>
            </tr>
          </ng-template>
          <ng-template #body let-txn>
            <tr>
              <td class="py-2">{{txn.created_at | date: 'dd-MM-yyyy'}}</td>
              <td class="py-2 font-semibold">{{txn.scroll_type + '-' + txn.scroll_no + '-' + txn.scroll_slno}}</td>
              <td class="py-2">{{txn.displayAccountName}}</td>
              <td class="py-2">{{txn.mode}}</td>
              <td class="py-2">{{txn.description}}</td>
              <td class="py-2 text-right">{{ ['HD', 'TD', 'KD'].includes(txn.scroll_type) ? (txn.amount |  number: '1.2-2'): ''  }}</td>
              <td class="py-2 text-right">{{ ['HC', 'TC', 'KC'].includes(txn.scroll_type) ? (txn.amount |  number: '1.2-2'): ''}}</td>
              <td class="py-2 text-right font-semibold">
                <span [style.color]="txn.closing_balance < 0 ? 'red' : 'inherit'">
                  {{ txn.closing_balance |  number: '1.2-2'}}
                </span>
               </td>
              <td class="py-2 text-right">
                <p-button
                  size="small"
                  styleClass="btn-secondary"
                  icon="pi pi-cog"
                 
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-container>
  </div>
</div>
