<div class="page-container p-0">
  <div class="rounded bg-primary-foreground">
    <p-toolbar styleClass="border-0">
      <ng-template #start>
        <div class="flex gap-4 items-center">
          <div
            class="flex items-center justify-center rounded bg-primary/50 p-2"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </div>

          <div class="grid grid-cols-1">
            <div class="text-md font-bold uppercase text-foreground">
              User List
            </div>
            <span class="text-muted-foreground text-xs"
              >List of users already registered</span
            >
          </div>
        </div>
      </ng-template>
      <ng-template #center> </ng-template>

      <ng-template #end>
        <p-iconfield styleClass="mr-2">
          <input type="text" pInputText placeholder="Search" />
          <p-inputicon styleClass="pi pi-search" />
        </p-iconfield>

        <a routerLink="/user/permissions" class="no-underline">
          <p-button
            icon="pi pi-plus"
            styleClass="mr-2 text-xs font-semibold text-primary-foreground bg-primary"
            text
            label="Permissiona"
            severity="secondary"
            (click)="$event.preventDefault()"
          />
        </a>
        <a routerLink="/user/roles" class="no-underline">
          <p-button
            icon="pi pi-print"
            styleClass="mr-2 text-xs font-semibold text-primary-foreground bg-primary"
            text
            label="Roles"
            severity="secondary"
            (click)="$event.preventDefault()"
          />
        </a>
        <p-button
          icon="pi pi-plus"
          styleClass="btn-primary"
          text
          label="Create"
          (click)="showDialog()"
        />
      </ng-template>
    </p-toolbar>

    <div class="bg-background p-4">
      <p-table
        [value]="users"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="50"
        [rowsPerPageOptions]="[50, 100, 200]"
      >
        <ng-template #header>
          <tr>
            <th class="font-semibold w-2/24">Id</th>
            <th class="font-semibold w-8/24" pSortableColumn="name">
              Name <p-sortIcon field="name" />
            </th>
            <th class="font-semibold w-8/24" pSortableColumn="email">
              Email <p-sortIcon field="email" />
            </th>
            <th class="font-semibold w-2/24">Type</th>
            <th class="font-semibold w-2/24">Status</th>
            <th class="font-semibold w-2/24 text-right">Action</th>
          </tr>
        </ng-template>
        <ng-template #body let-user>
          <tr>
            <td class="py-2">{{ user.id }}</td>
            <td class="py-2">{{ user.name }}</td>
            <td class="py-2">{{ user.username }}</td>
            <td class="py-2">{{ user.user_type }}</td>
            <td class="py-2">
              {{ user.is_active === "yes" ? "Active" : "Inactive" }}
            </td>
            <td class="py-2 text-right gap-2 flex justify-end">
              <p-button
                size="small"
                styleClass="btn-secondary"
                icon="pi pi-cog"
                (onClick)="onClick_Edit(user)"
              ></p-button>

              <p-button
                size="small"
                styleClass="btn-secondary"
                icon="pi pi-lock"
                (onClick)="onClick_Role(user)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- Show modal window : Create -->
<p-dialog
  [style]="{ width: '40rem' }"
  [visible]="showModal"
  [showHeader]="false"
  styleClass="text-sm"
  [contentStyle]="{ overflow: 'visible' }"
  [baseZIndex]="10000"
>
  <ng-container>
    <form [formGroup]="createForm">
      <div class="flex justify-between py-4">
        <div class="text-lg font-semibold">Create User</div>
        <button type="button" (click)="togglePasswordVisibility()">
          {{ showPassword ? "Hide Password" : "Show Password" }}
        </button>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <div class="flex flex-col gap-1">
            <label for="name">Name</label>
            <input
              pInputText
              id="name"
              aria-describedby="name-help"
              type="text"
              class="input"
              formControlName="name"
            />
          </div>
        </div>
        <div class="col-span-6">
          <div class="flex flex-col gap-1">
            <label for="email">Email</label>
            <input
              pInputText
              id="email"
              aria-describedby="name-help"
              type="email"
              class="input"
              formControlName="email"
            />
          </div>
        </div>
        <div class="col-span-6">
          <div class="flex flex-col gap-1">
            <label for="email">Password</label>
            <input
              pInputText
              id="password"
              aria-describedby="name-help"
              [type]="showPassword ? 'text' : 'password'"
              class="input"
              formControlName="password"
            />
          </div>
        </div>
        <div class="col-span-6">
          <div class="flex flex-col gap-1">
            <label for="email">Confirm Password</label>
            <input
              pInputText
              id="confirm_password"
              aria-describedby="name-help"
              [type]="showPassword ? 'text' : 'password'"
              class="input"
              formControlName="confirm_password"
            />
          </div>
        </div>
        <div class="col-span-6">
          <div class="flex flex-col gap-1">
            <label for="email">Type</label>
            <p-select
              id="type"
              [options]="userTypes"
              formControlName="user_type"
              optionLabel="label"
              optionValue="value"
              placeholder="Select"
              class="input"
            />
          </div>
        </div>
        <div class="col-span-6">
          <div class="flex flex-col gap-1">
            <label for="email">Status</label>
            <p-select
              id="status"
              [options]="userStatus"
              formControlName="status"
              optionLabel="label"
              optionValue="value"
              placeholder="Select"
              class="input"
            />
          </div>
        </div>
      </div>

      <div class="flex justify-end gap-2 mt-4">
        <p-button
          label="Cancel"
          styleClass="btn-secondary"
          (click)="showModal = false"
        />
        <p-button
          label="Save"
          styleClass="btn-primary"
          (click)="createUser()"
        />
      </div>
    </form>
  </ng-container>
</p-dialog>

<!-- Show Edit modal window : Update -->
<p-dialog
  [style]="{ width: '40rem' }"
  [visible]="showUpdateModal"
  [showHeader]="false"
  styleClass="text-sm"
  [contentStyle]="{ overflow: 'visible' }"
  [baseZIndex]="10000"
>
  <ng-container>
    <form [formGroup]="updateForm">
      <div class="flex justify-between py-4">
        <div class="text-lg font-semibold">Edit User</div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <div class="flex flex-col gap-1">
            <label for="name">Name</label>
            <input
              pInputText
              id="name"
              aria-describedby="name-help"
              type="text"
              class="input"
              formControlName="name"
            />
          </div>
        </div>
        <div class="col-span-6">
          <div class="flex flex-col gap-1">
            <label for="email">Email</label>
            <input
              pInputText
              id="email"
              aria-describedby="name-help"
              type="email"
              class="input"
              formControlName="email"
            />
          </div>
        </div>

        <div class="col-span-6">
          <div class="flex flex-col gap-1">
            <label for="type">Type</label>
            <p-select
              id="type"
              [options]="userTypes"
              formControlName="user_type"
              optionLabel="label"
              optionValue="value"
              placeholder="Select"
              class="input"
            />
          </div>
        </div>

        <div class="col-span-6">
          <div class="flex flex-col gap-1">
            <label for="status">Status</label>
            <p-select
              id="status"
              [options]="userStatus"
              formControlName="status"
              optionLabel="label"
              optionValue="value"
              placeholder="Select"
              class="input"
            />
          </div>
        </div>
      </div>

      <div class="flex justify-end gap-2 mt-4">
        <p-button
          label="Cancel"
          styleClass="btn-secondary"
          (click)="showUpdateModal = false"
        />
        <p-button
          label="Save"
          styleClass="btn-primary"
          (onClick)="updateUser()"
        />
      </div>
    </form>
  </ng-container>
</p-dialog>

<!-- Show Edit modal window : Assigning Role -->
<p-dialog
  [style]="{ width: '40rem' }"
  [visible]="showRoleModal"
  [showHeader]="false"
  styleClass="text-sm"
  [contentStyle]="{ overflow: 'visible' }"
  [baseZIndex]="10000"
>
  <div class="flex justify-between py-4">
    <div class="text-lg font-semibold">Assign Roles</div>
  </div>

  <div class="flex gap-2 mb-2">
            <p-select
              id="role"
              [options]="roles"
              [(ngModel)]="selectedRole"
              optionLabel="name"
              placeholder="Select"
              class="input w-full"
              [filter]="true"
              filterBy="name"
            />
            
            <p-button
              icon="pi pi-plus"
              (onClick)="appendRoleToUser()"
            ></p-button>
          </div>

  <p-table
    [value]="userRoles"
    [tableStyle]="{ 'max-height': '10rem' }"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 100]"
  >
    <ng-template #header>
      <tr>
        <th class="font-semibold w-10/12">Role name</th>
        <th class="font-semibold w-2/12 text-right">Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-userrole>
      <tr>
        <td class="py-2">{{ userrole.role.name }}</td>
        <td class="py-2 text-right gap-2 flex justify-end">
          <p-button
            size="small"
            styleClass="btn-secondary"
            icon="pi pi-cog"
            (onClick)="deleteUserRole(userrole.role.id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="flex justify-between items-center gap-2 mt-6">
    <div class="flex items-center">Confirm Check Box</div>
    <div class="flex items-center gap-2">
      <p-button
        label="Cancel"
        styleClass="btn-secondary"
        (click)="showRoleModal = false"
      />
      <p-button label="Save" styleClass="btn-primary" (onClick)="updateUserRoles()"/>
    </div>
  </div>
</p-dialog>
