<div class="card">
  <p-panel [toggleable]="true">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold text-sm">Navigation</span>
      </div>
    </ng-template>
    <ng-template #footer>
      <div class="flex flex-wrap items-center justify-between gap-4">
        
      </div>
    </ng-template>
    <ng-template #icons>
      <p-button
        icon="pi pi-cog"
        severity="secondary"
        rounded
        text
      />
      
    </ng-template>
    <p-tree [value]="nodes" styleClass="w-full p-0">
      <ng-template let-node pTemplate="url">
          <a [routerLink]="node.data" rel="noopener noreferrer" class="text-surface-700 dark:text-surface-100 hover:text-primary">
             {{ node.label }}
          </a>
      </ng-template>
      <ng-template let-node pTemplate="default">
          <b>{{ node.label }}</b>
      </ng-template>
  </p-tree>
    
  </p-panel>
  
</div>