<div class="page-container">
  <div class="rounded bg-primary-foreground">
    <p-toolbar styleClass="border-0">
      <ng-template #start>
        <div class="flex gap-4 items-center">
          <div
            class="flex items-center justify-center rounded bg-primary/50 p-2"
          >
            <svg-icon src="assets/icons/logo.svg"> </svg-icon>
          </div>

          <div class="grid grid-cols-1">
            <div class="text-md font-bold uppercase text-foreground">
              General Account
            </div>
            <span class="text-muted-foreground text-xs"
              >List of general accounts</span
            >
          </div>
        </div>
      </ng-template>
      <ng-template #center> </ng-template>

      <ng-template #end>
        <p-iconfield styleClass="mr-2">
          <input type="text" pInputText placeholder="Search" id="searchStr" />
          <p-inputicon styleClass="pi pi-search" />
        </p-iconfield>

        <a routerLink="/accounts" class="no-underline">
          <p-button
            icon="pi pi-plus"
            styleClass="mr-2 text-xs font-semibold text-primary-foreground bg-primary"
            text
            label="Dashboard"
            severity="secondary"
            (click)="$event.preventDefault()"
          />
        </a>
        <a routerLink="/accounts/general-ledgers" class="no-underline">
          <p-button
            icon="pi pi-print"
            styleClass="mr-2 text-xs font-semibold text-primary-foreground bg-primary"
            text
            label="Ledger"
            severity="secondary"
            (click)="$event.preventDefault()"
          />
        </a>

        <p-button
          icon="pi pi-plus"
          styleClass="mr-2 text-xs font-semibold text-primary-foreground bg-primary"
          text
          label="Create New"
          severity="secondary"
          (click)="showCreateModal = true"
        />
      </ng-template>
    </p-toolbar>

    <!-- Page content -->
    <ng-container>
      <div class="bg-background p-4">
        <p-table
          [value]="accounts"
          [tableStyle]="{ 'min-width': '50rem' }"
          [paginator]="true"
          [rows]="25"
          [rowsPerPageOptions]="[25, 50, 100]">
        
          
          <ng-template #header>
            <tr>
              <th class="font-semibold w-2/24" pSortableColumn="id">
                Subsystem <p-sortIcon field="id" />
              </th>
              <th class="font-semibold w-6/24" pSortableColumn="name">
                Account Name <p-sortIcon field="name" />
              </th>
              <th class="font-semibold w-6/24">Description</th>
              <th class="font-semibold w-2/24" pSortableColumn="created_on">
                Created on <p-sortIcon field="created_on" />
              </th>
              <th class="font-semibold w-6/24" pSortableColumn="is_active">
                Is Active <p-sortIcon field="is_active" />
              </th>
              <!-- <th class="font-semibold w-2/24">Status</th> -->
              <th class="font-semibold w-2/24">Action</th>
            </tr>
          </ng-template>
          <ng-template #body let-account>
            <tr>
              <td class="py-2">{{ account.subsystem }}</td>
              <td class="py-2">{{ account.name }}</td>
              <td class="py-2">{{ account.description }}</td>
              <td class="py-2">{{ account.created_on | date }}</td>
              <td class="py-2">
                {{ account.is_active === "Yes" ? "Active" : "Inactive" }}
              </td>
              <td class="py-2">
                <p-button
                  size="small"
                  styleClass="btn-secondary"
                  icon="pi pi-cog"
                  (onClick)="showUpdate(account.id)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-container>
  </div>
</div>

<!-- Show modal window -->
<p-dialog
  [style]="{ width: '50rem' }"
  [visible]="showCreateModal"
  [showHeader]="false"
  styleClass="text-sm"
  [contentStyle]="{ overflow: 'visible' }" 
  [baseZIndex]="10000"
>
  <form [formGroup]="form">
    <div class="flex justify-between py-4">
      <div class="text-lg font-semibold">Create Account</div>
    </div>

    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-6">
        <div class="flex flex-col gap-1">
          <label for="name">Subsystem</label>
          <p-select 
          [options]="ledgers" 
          formControlName="subsystem" 
          optionValue="subsystem" 
          optionLabel="name" 
          [filter]="true" 
          filterBy="name" 
          placeholder="Select" 
          class="input" 
          (onChange)="onChange_Subsytem()"/>
        </div>
      </div>
      <div class="col-span-6">
        <div class="flex flex-col gap-1">
          <label for="name">Account Name</label>
          <input
            pInputText
            id="name"
            type="text"
            class="input"
            formControlName="name"
          />
        </div>
      </div>

      <div class="col-span-12">
        <div class="flex flex-col gap-1">
          <label for="name">Description</label>
            <textarea rows="5" pTextarea formControlName="description"></textarea>
        </div>
      </div>

      <div class="col-span-3">
        <div class="flex items-center">
          <p-checkbox name="allow" formControlName="allow_receive" value="true" [binary]="true" inputId="HC" />
          <label for="HC" class="ml-2">Cash Receive</label>
        </div>
      </div>
      <div class="col-span-3">
        <div class="flex items-center">
          <p-checkbox name="allow" formControlName="allow_payment" value="true" [binary]="true" inputId="HD" />
          <label for="HD" class="ml-2">Cash Receive</label>
        </div>
      </div>
      <div class="col-span-6">
        <div class="flex items-center">
          <p-checkbox name="allow" formControlName="allow_transfer" value="true" [binary]="true" inputId="TR" />
          <label for="TR" class="ml-2">Transfer Entry</label>
        </div>
      </div>

      <div class="col-span-3">
        <div class="flex flex-col gap-1">
          <label for="name">Opening Balance</label>
          <input
            pInputText
            id="name"
            aria-describedby="name-help"
            type="text"
            class="input"
            pKeyFilter="money"
            fomControlName="opening_balance"
          />
        </div>
      </div>
      <div class="col-span-3">
        <div class="flex flex-col gap-1">
          <label for="name">Is Active?</label>
          <p-select [options]="isActiveOptions" 
          id="is_active" 
          formControlName="is_active" 
          label="name" 
          value="value" 
          placeholder="Select" class="input" />

        </div>
      </div>
      <div class="col-span-6">
        <div class="flex flex-col gap-1">
          <label for="name">Balancesheet Head</label>
          <p-select [options]="bsGroups" formControlName="bs_group" optionValue="id" optionLabel="group_name" [filter]="true" filterBy="group_name" placeholder="Select" class="input" />

        </div>
      </div>
    </div>

    <div class="flex justify-between items-center gap-2 mt-6">
      <div class="flex items-center">
        <p-checkbox inputId="ingredient1" name="pizza" value="Cheese" />
        <label for="ingredient1" class="ml-2"> I checked all the informations are correct </label>
      </div>
      <div class="flex items-center gap-2">
        <p-button
          label="Cancel"
          styleClass="btn-secondary"
          (click)="showCreateModal = false"
        />
        <p-button label="Save" styleClass="btn-primary" (click)="save()" />
      </div>
    </div>
  </form>
</p-dialog>

<!-- Show edit modal window -->
<p-dialog
  [style]="{ width: '50rem' }"
  [visible]="showUpdateModal"
  [showHeader]="false"
  styleClass="text-sm"
  [contentStyle]="{ overflow: 'visible' }" 
  [baseZIndex]="10000"
>
  <form [formGroup]="formUpdate">
    <div class="flex justify-between py-4">
      <div class="text-lg font-semibold">Update Account</div>
    </div>

    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-6">
        <div class="flex flex-col gap-1">
          <label for="name">Subsystem</label>
          <p-select 
          [options]="ledgers" 
          formControlName="subsystem" 
          optionValue="subsystem" 
          optionLabel="name" 
          [filter]="true" 
          filterBy="name" 
          placeholder="Select" 
          class="input" 
          (onChange)="onChange_Subsytem()"/>
        </div>
      </div>
      <div class="col-span-6">
        <div class="flex flex-col gap-1">
          <label for="name">Account Name</label>
          <input
            pInputText
            id="name"
            type="text"
            class="input"
            formControlName="name"
          />
        </div>
      </div>

      <div class="col-span-12">
        <div class="flex flex-col gap-1">
          <label for="name">Description</label>
            <textarea rows="5" pTextarea formControlName="description"></textarea>
        </div>
      </div>

      <div class="col-span-3">
        <div class="flex items-center">
          <p-checkbox name="allow" formControlName="allow_receive" value="true" [binary]="true" inputId="HC" />
          <label for="HC" class="ml-2">Cash Receive</label>
        </div>
      </div>
      <div class="col-span-3">
        <div class="flex items-center">
          <p-checkbox name="allow" formControlName="allow_payment" value="true" [binary]="true" inputId="HD" />
          <label for="HD" class="ml-2">Cash Receive</label>
        </div>
      </div>
      <div class="col-span-6">
        <div class="flex items-center">
          <p-checkbox name="allow" formControlName="allow_transfer" value="true" [binary]="true" inputId="TR" />
          <label for="TR" class="ml-2">Transfer Entry</label>
        </div>
      </div>

      <div class="col-span-3">
        <div class="flex flex-col gap-1">
          <label for="name">Opening Balance</label>
          <input
            pInputText
            id="name"
            aria-describedby="name-help"
            type="text"
            class="input"
            pKeyFilter="money"
            fomControlName="opening_balance"
          />
        </div>
      </div>
      <div class="col-span-3">
        <div class="flex flex-col gap-1">
          <label for="name">Is Active?</label>
          <p-select [options]="isActiveOptions" 
          id="is_active" 
          formControlName="is_active" 
          label="name" 
          value="value" 
          placeholder="Select" class="input" />

        </div>
      </div>
      <div class="col-span-6">
        <div class="flex flex-col gap-1">
          <label for="name">Balancesheet Head</label>
          <p-select [options]="bsGroups" formControlName="bs_group" optionValue="id" optionLabel="group_name" [filter]="true" filterBy="group_name" placeholder="Select" class="input" />

        </div>
      </div>
    </div>

    <div class="flex justify-between items-center gap-2 mt-6">
      <div class="flex items-center">
        <p-checkbox inputId="ingredient1" name="pizza" value="Cheese" />
        <label for="ingredient1" class="ml-2"> I checked all the informations are correct </label>
      </div>
      <div class="flex items-center gap-2">
        <p-button
          label="Cancel"
          styleClass="btn-secondary"
          (click)="showUpdateModal = false"
        />
        <p-button label="Save" styleClass="btn-primary" (onClick)="updateAcount()"/>
      </div>
    </div>
  </form>
</p-dialog>