<div class="page-container p-0">
  <div class="gap-4">
    <div class="card">
      <p-panel styleClass="">
        <ng-template #header>
          <div class="flex items-center gap-2">
            <div class="flex flex-col">
              <div class="font-bold text-sm uppercase">Attendence Register</div>
              <div class="text-xs text-muted-foreground">
                Maintain detailed records of employee attendance, including
                presence, absence, and leave.
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #icons>
          <p-button
            label="Employe Master"
            icon="pi pi-arrow-left"
            styleClass="btn-primary"
          />
        </ng-template>

        <ng-container>
          <form [formGroup]="form">
            <p-fieldset legend="Filter">
              <div class="grid grid-cols-24 gap-4">
                <div class="col-span-5">
                  <div class="flex flex-col gap-1 w-full">
                    <label for="clear_balance">Select Role</label>
                    <p-select
                      id="role"
                      [options]="roles"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Select"
                      class="input"
                      formControlName="role"
                    />
                  </div>
                </div>

                <div class="col-span-4">
                  <div class="flex flex-col gap-1 w-full">
                    <label for="clear_balance">Select Date</label>
                    <p-datepicker
                      dateFormat="dd-mm-yy"
                      [iconDisplay]="'input'"
                      [showIcon]="true"
                      inputId="icondisplay"
                      formControlName="attnDate"
                    />
                  </div>
                </div>

                <div class="col-span-2">
                  <div class="flex flex-col h-full justify-end">
                    <button
                      pButton
                      type="button"
                      icon="pi pi-search"
                      class="btn-"
                      (click)="getAttendence()"
                    ></button>
                  </div>
                </div>
              </div>
            </p-fieldset>
          </form>
        </ng-container>

        <ng-container>
          <form [formGroup]="attendanceForm">
            <div formArrayName="records">
              <p-table
                [value]="records.controls"
                [responsive]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true"
                [lazy]="true"
                [rows]="25"
                [rowsPerPageOptions]="[25, 50, 100]"
                [totalRecords]="1"
              >
                <ng-template #header>
                  <tr>
                    <th class="font-semibold w-1/24">ID</th>
                    <th class="font-semibold w-3/24">
                      Employee Name
                    </th>
                    <th class="font-semibold w-3/24 text-right">In/Out Time</th>

                    <th class="font-semibold w-3/24">
                      Designation
                    </th>
                     <th class="font-semibold w-3/24" pSortableColumn="department">
                      Department <p-sortIcon field="department" />
                    </th>
                    <th class="font-semibold w-3/24">
                      Staus
                    </th>
                    <th class="font-semibold w-2/24  text-right">
                      Action
                    </th>
                  </tr>
                </ng-template>

                <ng-template #body let-employee let-index="rowIndex">
                  <tr [formGroupName]="index">
                    <td class="py-2">
                      {{ prefix }}-{{ records.at(index).get("employee_id")?.value }}
                    </td>
                    <td class="py-2">
                      {{ records.at(index).get("name")?.value }}
                    </td>
                    <td class="py-2">
                      <div class="flex w-full items-center justify-end gap-2">
                        <div class="flex gap-2">
                          <p-datepicker
                            [iconDisplay]="'input'"
                            [showIcon]="true"
                            [timeOnly]="true"
                            inputId="templatedisplay"
                            appendTo="body"
                            panelStyleClass="datepicker-top"
                            formControlName="inTime"
                          >
                            <ng-template
                              #inputicon
                              let-clickCallBack="clickCallBack"
                            >
                              <i
                                class="pi pi-clock"
                                (click)="clickCallBack($event)"
                              ></i>
                            </ng-template>
                          </p-datepicker>
                          <button
                            pButton
                            type="button"
                            label="In"
                            class="btn-primary text-primary-foreground"
                            (click)="onUpdateInTime(index)"
                          ></button>
                        </div>

                        <div class="flex gap-2">
                          <p-datepicker
                            [iconDisplay]="'input'"
                            [showIcon]="true"
                            [timeOnly]="true"
                            inputId="templatedisplay"
                            appendTo="body"
                            panelStyleClass="datepicker-top"
                            formControlName="outTime"
                          >
                            <ng-template
                              #inputicon
                              let-clickCallBack="clickCallBack"
                            >
                              <i class="pi pi-clock"></i>
                            </ng-template>
                          </p-datepicker>
                          <button
                            pButton
                            type="button"
                            label="Out"
                            class="btn-primary text-primary-foreground"
                          ></button>
                        </div>
                      </div>
                    </td>

                    <td class="py-2">
                      <app-pickup-title
                        [pickupId]="records.at(index).get('designation')?.value"
                      ></app-pickup-title>
                    </td>
                    <td class="py-2">
                      <app-pickup-title
                        [pickupId]="records.at(index).get('department')?.value"
                      ></app-pickup-title>
                    </td>
                    <td class="py-2">
                      <p-select
                        [options]="leaveTypes"
                        optionLabel="label"
                        optionValue="value"
                        [filter]="true"
                        filterBy="label"
                        appendTo="body"
                        placeholder="Select"
                        class="input"
                        formControlName="status"
                      />
                    </td>
                    <td class="py-2 text-right">
                      <p-button
                        styleClass="btn-secondary"
                        icon="pi pi-cog"
                        (click)="updateAttendance(index)"
                      ></p-button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </form>
        </ng-container>
      </p-panel>
    </div>
  </div>
</div>
