<div class="page-container p-0">
  <div class="flex gap-4">
    <div class="w-9/12">
      <div class="card">
        <p-panel [toggleable]="true">
          <ng-template #header>
            <div class="flex items-center gap-2">
              <div class="font-bold text-lg">Cash Receive</div>
              </div>
          </ng-template>
          <div class="pb-4 text-xs text-muted-foreground">All Cash revive entry goes form here, please check all information before post any voucher, once entered it can't be remove.</div>
          <ng-template #footer>
            <div class="flex justify-between items-center gap-2 mt-6">
              <div class="flex items-center">
                <p-checkbox inputId="ingredient1" name="pizza" value="Cheese" />
                <label for="ingredient1" class="ml-2"> I checked all the informations are correct </label>
              </div>
              <div class="flex items-center gap-2">
                <p-button
                  label="Cancel"
                  styleClass="btn-secondary"
                  
                />
                <p-button label="Save" styleClass="btn-primary" (click)="save()" />
              </div>
            </div>
          </ng-template>
          <ng-template #icons>
            <p-button
              icon="pi pi-cog"
              severity="secondary"
              rounded
              text
             
            />
            
          </ng-template>
          
         

          
          <ng-container>
            <form [formGroup]="form">
              <div class="grid grid-cols-12 gap-4">
                <div class="col-span-5">
                  <div class="flex flex-col gap-1">
                    <label for="name">Subsystem <i class="pi pi-arrow-right"></i></label>
                    <p-select [options]="ledgers"  optionLabel="name" [filter]="true" filterBy="name"  placeholder="Select a Country" class="w-full input">
                      <ng-template #selectedItem let-selectedOption>
                          <div class="flex items-center gap-2">
                              <div>{{ selectedOption.name }}</div>
                          </div>
                      </ng-template>
                      <ng-template let-country #item>
                          <div class="flex items-center gap-2">
                              <div>{{ country.name }}</div>
                          </div>
                      </ng-template>
                  </p-select>
                  </div>
                </div>
                <div class="col-span-5">
                  <div class="flex flex-col gap-1">
                    <label for="name">Account <i class="pi pi-arrow-right"></i></label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      type="text"
                      class="input"
                    />
                  </div>
                </div>
          
                <div class="col-span-2">
                  <div class="col-span-2">
                    <div class="flex flex-col gap-1">
                      <label for="name">Current Balance</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        type="text"
                        [disabled]="true"
                        class="input"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-span-2">
                  <div class="flex flex-col gap-1">
                    <label for="name">Inst.Type</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      type="text"
                      class="input"
                    />
                  </div>
                </div>
                <div class="col-span-2">
                  <div class="flex flex-col gap-1">
                    <label for="name">Inst.No</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      type="text"
                      class="input"
                    />
                  </div>
                </div>
                <div class="col-span-5">
                  <div class="flex flex-col gap-1">
                    <label for="name">Inst.Description</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      type="text"
                      class="input"
                    />
                  </div>
                </div>

                <div class="col-span-3">
                  <div class="flex flex-col gap-1">
                    <label for="name">Sent to Authorised</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      type="text"
                      class="input"
                    />
                  </div>
                </div>

                <div class="col-span-2">
                  <div class="flex flex-col gap-1">
                    <label for="name">Amount</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      type="text"
                      pKeyFilter="money"
                      class="input"
                    />
                  </div>
                </div>
                
                <div class="col-span-10">
                  <div class="flex flex-col gap-1">
                    <label for="name">Narration (if any)</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      type="text"
                      class="input"
                    />
                  </div>
                </div>
          
                
          
               
              </div>
          
             

            </form>
          </ng-container>
        </p-panel>
      </div>

      <div class="card mt-1">
        <p-panel [toggleable]="true">
          <ng-template #header>
            <div class="flex items-center gap-2">
              <div class="font-bold ">My Transactions</div>
              <div class="text-xs text-muted-foreground">Last 10 transactions</div>
              </div>
          </ng-template>
          
          
          <ng-template #icons>
            <p-button
              icon="pi pi-cog"
              severity="secondary"
              rounded
              text
             
            />

           
            
          </ng-template>
          <ng-container>
            asdas
          </ng-container>
        </p-panel>
      </div>
    </div>
    <div class="w-3/12">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
